<?xml version="1.0" ?>
<plugin
	name="Slingshot Behaviour Annotation Processor"
	id="org.palladiosimulator.analyzer.slingshot.annotationprocessor"
	version="0.0.0"
	provider-name="OTI">
   <extension
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <java6processors
            enableDefault="true">
         <java6processor
               class="org.palladiosimulator.analyzer.slingshot.annotationprocessor.ContractProcessor">
         </java6processor>
      </java6processors>
   </extension>
	
</plugin>	
