<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.behavior">
      <behavior-provider baseClass="org.palladiosimulator.analyzer.slingshot.behavior.resourcesimulation.ResourceSimulation" />
      <behavior-provider
            baseClass="org.palladiosimulator.analyzer.slingshot.behavior.resourcesimulation.resources.active.ProcessorSharingResource">
      </behavior-provider>
      <behavior-provider
            baseClass="org.palladiosimulator.analyzer.slingshot.behavior.resourcesimulation.resources.active.FCFSResource">
      </behavior-provider>
   </extension>

</plugin>
