<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.behavior">
      <client
            class="org.palladiosimulator.analyzer.slingshot.behaviour.resourcesimulation.ResourceSimulationProvider">
      </client>
   </extension>

</plugin>
