<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.monitor.calculators">
      <calculator-providers
            provider="org.palladiosimulator.analyzer.slingshot.behavior.usagesimulation.monitor.UsageSimulationCalculatorProviders">
      </calculator-providers>
   </extension>

</plugin>
