<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.palladiosimulator.analyzer.slingshot.behavior.usagemodel"
         name="UsageSimulation"
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.behaviour">
      <client
            class="org.palladiosimulator.analyzer.slingshot.behavior.usagemodel.UsageSimulationProvider">
      </client>
   </extension>

</plugin>
