<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.apt.core.annotationProcessorFactory">
      <java6processors
            enableDefault="true">
         <java6processor
               class="org.palladiosimulator.analyzer.slingshot.behavior.annotationprocessor.onevent.OnEventProcessor">
         </java6processor>
         <java6processor
               class="org.palladiosimulator.analyzer.slingshot.behavior.annotationprocessor.eventcontract.EventContractProcessor">
         </java6processor>
         <!--
         <java6processor
               class="org.palladiosimulator.analyzer.slingshot.behavior.annotationprocessor.behaviorextension.BehaviorExtensionProcessor">
         </java6processor>
         -->
      </java6processors>
   </extension>

</plugin>
