<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.module">
      <slingshot-module
            module-definition="org.palladiosimulator.analyzer.slingshot.monitor.MonitoringModule">
      </slingshot-module>
   </extension>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.behavior">
      <behavior-provider
            baseClass="org.palladiosimulator.analyzer.slingshot.monitor.interpretation.MonitorModelBehavior">
      </behavior-provider>
      <behavior-provider
            baseClass="org.palladiosimulator.analyzer.slingshot.monitor.calculator.DeferredCalculatorMeasurementInitializationBehavior">
      </behavior-provider>
   </extension>

</plugin>
