<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.extensionpoint.model">
         	<model-provider baseClass="org.palladiosimulator.analyzer.slingshot.provider.model.usagemodel.UsageModelModule" />
   </extension>
   <extension
         point="org.palladiosimulator.analyzer.slingshot.configuration.ui.modelregister">
      <client
            class="org.palladiosimulator.analyzer.slingshot.provider.model.usagemodel.RequiredUsageModelTextForm">
      </client>
   </extension>

</plugin>
